<form class="" action="index.html" method="post">
  <ol>
    {{#each listItems as |item|}}
      <li>
        <span>
          <label>
            {{item.question}}
            {{!-- {{input value=item.question}} --}}
        {{!--TODO: I want to make it a select yes or no --}}
          </label>
          <p>yes</p>
          <p>no</p>
        </span>
      </li>
    {{/each}}
    {{#if doShowCommentBox}}
      <textarea name={{item.textAreaStuff.name}}></textarea>
    {{/if}}
  </ol>
</form>
