<div class="aSomeABitch">
  <h1>HI there.. Here's a survey, How have you enjoyed your stay in Hell? </h1>
</div>
<div class="">
  {{#survey-maker listItems=model
                  doShowCommentBox=false}}
  {{/survey-maker}}
</div>
